# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# DVC
/data/raw/*
/data/processed/*
/data/labeled/*

!/data/raw/.gitkeep
!/data/processed/.gitkeep
!/data/labeled/.gitkeep

!/data/raw/*.dvc
!/data/processed/*.dvc
!/data/labeled/*.dvc

# MLflow
artifacts/
mlflow.db

# Training outputs
classification_report.txt